dbtest.Util/Service References/ClientServiceReference/RestaurantService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32295/RestaurantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" />
  <xs:import schemaLocation="http://localhost:32295/RestaurantService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRestaurants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantsResult" nillable="true" type="q1:ArrayOfRestaurantContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsNotVotedWeek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsNotVotedWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantsNotVotedWeekResult" nillable="true" type="q2:ArrayOfRestaurantContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsVotedWeek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsVotedWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantsVotedWeekResult" nillable="true" type="q3:ArrayOfRestaurantVotedContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsNotVotedToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsNotVotedTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantsNotVotedTodayResult" nillable="true" type="q4:ArrayOfRestaurantContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantResult" nillable="true" type="q5:RestaurantContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantWinnerToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantWinnerTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantWinnerTodayResult" nillable="true" type="q6:RestaurantContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantVotedToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantVotedTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/dbtest.Service.Contracts" minOccurs="0" name="GetRestaurantVotedTodayResult" nillable="true" type="q7:ArrayOfRestaurantVotedContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRestaurantsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersWithTodayVote">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersWithTodayVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UsersWithTodayVoteResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteInRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="restaurantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteInRestaurantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChecksIfUserVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChecksIfUserVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChecksIfUserVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserVoteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseVoting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseVotingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VotingClosed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VotingClosedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VotingClosedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>